:root {}

* {
    box-sizing: border-box;
    border: none;
}

html {
    min-height: -webkit-fill-available;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: 'Raleway', sans-serif !important;
}

.chakra-skeleton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
