.h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
}

.h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
}

.p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
}
