.block {}

.header {
    margin: auto;
}

.content {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 40px;
}

.digestContainer {
    width: 100%;
    display: grid;
    gap: 20px;
}

.trendsContainer {
    width: 100%;
    display: grid;
    gap: 20px;
}
